.content {
  background-color: #f1f3f4;
  overflow-y: auto;
  margin-top: 40px;
}

.heading {
  color: #000;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  margin-top: 20px;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table_heading {
  text-align: left;
  padding: 10px;
  background-color: #f2f2f2;
  border-bottom: 2px solid #000;
}

.table_body tr {
  border-bottom: 1px solid #ccc;
}

.table_row td {
  padding: 10px;
  border-right: 1px solid #ccc;
  vertical-align: top;
}

.table_row td:first-child {
  border-left: 1px solid #ccc;
}

.table_heading {
  text-align: left;
  padding-bottom: 10px;
}

.table_body {
  border-top: 1px solid #000;
}

.category_number {
  width: 10%;
}

.table_row td {
  padding-top: 10px;
  padding-bottom: 10px;
}

.edit,
.delete {
  cursor: pointer;
}

img {
  cursor: pointer;
}

.submit_button {
  background-color: #c4ce00;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit_button:hover {
  background-color: #b3c100;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 700px;
  height: 700px;
  overflow-y: auto;
}

.modal_heading {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  text-align: center;
}

.form_group {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  width: 100%;
}

.form_group_row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 50px;
}

.label {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}

.input_field {
  border: 1px solid #51bbcc;
  background: #fff;
  border-radius: 10px;
  height: 46px;
  width: 80%;
  outline: none;
  padding-left: 10px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.cancel_button {
  width: 180px;
  height: 50px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #ff0000;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
  margin-left: 20px;
}

.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.inactive {
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
}

.migrate_button {
  padding: 5px 10px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: #d4de00;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-self: center;
}

.question_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #c2e7ed;
  border: #51bbcc;
  border-radius: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.add_button {
  background-color: #d4de00;
  color: black;
  border: none;
  border-radius: 4px;
  padding: 10px 17px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.remove_button {
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 50%;
  margin-top: 5px;
}

.remove_button:hover {
  background-color: #e60000;
}

.input_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.input_row_correct {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.answer_group {
  border: solid 3px #4dd1e5;
  padding: 10px;
  border-radius: 10px;
}
