.main_page {
    display: flex;
    background: #F1F3F4;
    height: 100vh;
    flex-direction: column;
}

.content {
    margin-left: 265px;
    padding: 20px;
    flex-grow: 1;
    background: #F1F3F4;
    height: 100%;
    overflow-y: auto;
}

.stats_summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.stats_summary_text {
    font-size: 20px;
    font-weight: 600;
}

.table_container {
    overflow-x: auto;
    margin-top: 20px;
}

.table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

.table_heading {
    text-align: left;
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 2px solid #000;
}

.table_body tr {
    border-bottom: 1px solid #ccc;
}

.table_row td {
    padding: 10px;
    border-right: 1px solid #ccc;
    vertical-align: top;
}

.table_cell {
    padding: 10px;
    border-right: 1px solid #ccc;
    vertical-align: top;
}

.table_row:last-child td {
    border-bottom: none;
}

.table_row td:last-child {
    border-right: none;
}

.download_button {
    background-color: #c4ce00;
    color: black;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-decoration: none;
}

.download_button:hover {
    background-color: #b3c100;
}

@media (max-width: 1000px) {
    .content {
        margin-left: 0;
        padding: 10px;
    }

    .table,
    .table_row,
    .table_cell,
    .table_heading {
        font-size: 14px;
    }
}