.content {
    background-color: #F1F3F4;
    overflow-y: auto;
    margin-top: 20px;
}

.heading {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
}

.input_row {
    display: flex;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
}

.label {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.input_field {
    border: 1px solid #51BBCC;
    background: #FFF;
    border-radius: 10px;
    height: 46px;
    width: 80%;
    outline: none;
    padding-left: 10px;
}

.submit_button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #D4DE00;
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 30px;
    width: 30%;
    align-self: center;
}

.submit_button:hover {
    background-color: #C4CE00;
}

.image_preview {
    margin-top: 10px;
}

.image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 1px solid #ccc;
    border-radius: 10px;
}