.content {
    background-color: #F1F3F4;
    overflow-y: auto;
    margin-top: 20px;
}

.form_group {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    margin-bottom: 20px;
}

.heading {
    color: #000;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.input_row {
    display: flex;
    gap: 200px;
}

.label {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 2px;
}

.input_field {
    border: 1px solid #51BBCC;
    background: #FFF;
    border-radius: 10px;
    height: 46px;
    width: 100%;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.tabs button {
    padding: 10px;
    margin: 5px;
    background-color: #eaf7f9;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid #c2e7ed;
    flex: 1;
}

.tabs button.active {
    background-color: #c2e7ed;
    ;
    color: black;
}

.tabs {
    display: flex;
    justify-content: flex-start;
}



@media (max-width: 1000px) {
    .heading {
        font-size: 24px;
    }

    .input_row {
        flex-direction: column;
        gap: 0px;
    }

    .label {
        font-size: 16px;
    }

    .input_field {
        width: 100%;
    }

    .submit_button {
        width: 100%;
    }

    .tabs {
        overflow-x: auto;
    }
}